<h1>あなたの感謝一覧</h1>

<hr>

<div class="text-center mb-4">
    <h2>感謝一覧</h2>
</div>
<% if @thanks.empty? %>
  <div class="text-center mt-5">
    <h4 class="text-muted">まだ感謝がありません</h4>
    <%= link_to "最初の投稿をしてみる", new_thank_path, class: "btn btn-primary mt-3" %>
  </div>
<% else %>
  <div class="row">
    <% @thanks.each do |thank| %>
      <div class="col-12 col-md-6 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <p class="card-text"><%= thank.content %></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <small class="text-muted">
              <%= thank.created_at.strftime("%Y/%m/%d") %>
            </small>

            <% if thank.user == current_user %>
              <div>
                <%= link_to "詳細",
                    thank_path(thank),
                    class: "btn btn-sm btn-outline-primary" %>

                <%= link_to "削除",
                    thank_path(thank),
                    data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
                    class: "btn btn-danger btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <!-- 一覧に戻るボタン -->
  <div class="text-center mb-4">
    <div class="glass-wrapper d-inline-block">
      <%= link_to "タイムラインに戻る", root_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>
