<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Thank You Diary" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all"%>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-light bg-light">
      <div class="container d-flex justify-content-between">

        <!-- 左側：ロゴ -->
        <%= link_to "Thank You Diary", root_path, class: "navbar-brand fs-5" %>

        <!-- 右側：ログイン状態で切り替え -->
        <div>
          <% if user_signed_in? %>
            <%= link_to "感謝一覧", thanks_path, class: "btn btn-outline-primary btn-sm me-2" %>
            <%= link_to "ログアウト",
                destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "btn btn-outline-danger btn-sm" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-sm me-2" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- Flash -->
    <div class="container mt-3">
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
    </div>

    <!-- Main -->
    <main class="flex-grow-1">
      <div class="main-content container my-5 py-4">
        <div id="loading" style="display: none;">
          <div class="spinner"></div>
        </div>
        <%= yield %>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center py-3 border-top text-muted">
      <p class="mb-1">© 2026 Thank You Diary</p>
      <%= link_to "利用規約", terms_path %> |
      <%= link_to "プライバシーポリシー", privacy_path %>
    </footer>
  </body>
</html>