<h1>感謝を編集</h1>

<% if @thank.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @thank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @thank do |f| %>
  <div>
    <%= f.text_area :content, rows: 5 %>
  </div>
  <div>
    <%= f.label :image, "画像" %>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :tag_names, "タグ（カンマ区切り）" %>
    <%= text_field_tag :tag_names %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>

