<h1>感謝共有</h1>

<div class="card shadow-sm">
  <div class="card-body">

    <% if @thank.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% @thank.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @thank, local: true do |f| %>

      <div class="mb-3">
        <%= f.label :content, "感謝内容" %>
        <%= f.text_area :content,
              id: "content_field",
              class: "form-control",
              rows: 4,
              placeholder: "感謝を共有しよう！" %>
      </div>

      <button type="button" id="ai-btn" class="btn btn-secondary mb-3">
        AIで整える
      </button>


      <div class="mb-3">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>

      <div>
        <%= f.label :tag_names, "タグ（カンマ区切り）" %>
        <%= text_field_tag :tag_names %>
      </div>

      <%= f.submit "投稿する", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
